<div
  id="sidebar"
  class="d-flex flex-column flex-shrink-0 pt-3 px-3 text-bg-dark"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <img
      src="./assets/img/project/logo.svg"
      [alt]="appName + ' Logo'"
      class="img-fluid me-2"
      width="50px"
    />
    <span class="fs-4"> {{ appName }} </span>
  </a>
  <hr />
  <ul
    class="nav nav-pills flex-column mb-auto"
    *ngIf="!isPropietariaPresentationMode"
  >
    <li class="nav-item">
      <a
        class="nav-link text-white"
        aria-current="page"
        [routerLink]="['/home']"
        [routerLinkActive]="['active']"
      >
        <i class="fa-solid fa-house"></i>
        {{ "HOME" | translate }}
      </a>
    </li>
    <li>
      <a
        class="nav-link text-white cursor-pointer"
        [routerLink]="['/competencias']"
        [routerLinkActive]="['active']"
        [class.hidden]="(userInfo?.role ?? ROLES.NOT_LOGGED) < ROLES.RRHH"
      >
        <i class="fa-solid fa-kitchen-set"></i>
        Competencias
      </a>
    </li>
    <li>
      <a
        class="nav-link text-white cursor-pointer"
        [routerLink]="['/idiomas']"
        [routerLinkActive]="['active']"
        [class.hidden]="(userInfo?.role ?? ROLES.NOT_LOGGED) < ROLES.RRHH"
      >
        <i class="fa-solid fa-language"></i>
        Idiomas
      </a>
    </li>
    <li>
      <a
        class="nav-link text-white cursor-pointer"
        [routerLink]="['/capacitaciones']"
        [routerLinkActive]="['active']"
        [class.hidden]="(userInfo?.role ?? ROLES.NOT_LOGGED) < ROLES.USER"
      >
        <i class="fa-solid fa-certificate"></i>
        Capacitaciones
      </a>
    </li>
    <li>
      <a
        class="nav-link text-white cursor-pointer"
        [routerLink]="['/puestos']"
        [routerLinkActive]="['active']"
        [class.hidden]="(userInfo?.role ?? ROLES.NOT_LOGGED) < ROLES.RRHH"
      >
        <i class="fa-solid fa-briefcase"></i>
        Puestos
      </a>
    </li>
    <li>
      <a
        class="nav-link text-white cursor-pointer"
        [routerLink]="['/candidatos']"
        [routerLinkActive]="['active']"
        [class.hidden]="(userInfo?.role ?? ROLES.NOT_LOGGED) < ROLES.USER"
      >
        <i class="fa-solid fa-building-user"></i>
        {{
          (userInfo?.role ?? ROLES.NOT_LOGGED) === ROLES.USER
            ? "Postulaciones"
            : "Candidatos"
        }}
      </a>
    </li>
    <li>
      <a
        class="nav-link text-white cursor-pointer"
        [routerLink]="['/experiencias']"
        [routerLinkActive]="['active']"
        [class.hidden]="(userInfo?.role ?? ROLES.NOT_LOGGED) < ROLES.USER"
      >
        <i class="fa-solid fa-book-bookmark"></i>
        Experiencias Laborales
      </a>
    </li>
    <li>
      <a
        class="nav-link text-white cursor-pointer"
        [routerLink]="['/empleados']"
        [routerLinkActive]="['active']"
        [class.hidden]="(userInfo?.role ?? ROLES.NOT_LOGGED) < ROLES.RRHH"
      >
        <i class="fa-solid fa-users-rectangle"></i>
        Empleados
      </a>
    </li>
  </ul>

  <ul class="nav flex-columns mb-auto" *ngIf="isPropietariaPresentationMode">
    <li class="nav-item">
      <a
        class="nav-link text-white"
        [routerLink]="['/personas']"
        [routerLinkActive]="['active']"
      >
        <i class="fa-solid fa-person-circle-exclamation"></i>
        Personas
      </a>
    </li>
  </ul>

  <!-- Sección de usuario -->
  <div class="user-section mt-auto sticky-bottom">
    <hr />

    <div *ngIf="userInfo; else user_not_logged">
      <a
        class="d-flex align-items-center text-white text-decoration-none dropdown-toggle mb-3 cursor-pointer"
        (click)="isMenuCollapsed = !isMenuCollapsed"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa-solid fa-user"></i>
        <strong class="mx-2">{{ userInfo.username }}</strong>
      </a>
      <div
        class="collapse navbar-collapse"
        [ngbCollapse]="isMenuCollapsed"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mb-2 mb-lg-0 w-100">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/usuarios']"
              [routerLinkActive]="['active']"
              [class.hidden]="userInfo.role < ROLES.ADMIN"
            >
              <i class="fa-solid fa-users"></i>
              Usuarios
            </a>
          </li>
          <li class="nav-item" *ngIf="isPropietariaPresentationMode">
            <a
              class="nav-link"
              [routerLink]="['/personas']"
              [routerLinkActive]="['active']"
              [class.hidden]="userInfo.role < ROLES.ADMIN"
            >
              <i class="fa-solid fa-person-circle-exclamation"></i>
              Personas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer" (click)="onClickLogout()">
              <i class="fa-solid fa-right-from-bracket"></i>
              {{ "LOGOUT" | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <ng-template #user_not_logged>
      <a
        class="d-flex align-items-center text-white text-decoration-none mb-3 cursor-pointer"
        [routerLink]="['/auth/login']"
      >
        <i class="fa-solid fa-user-lock"></i>
        <strong class="mx-2">Inicie Sesión</strong>
      </a>
    </ng-template>
  </div>
</div>
