<div class="modal-header">
  <h4 class="modal-title">Confirmación</h4>
</div>

<div class="modal-body">
  <form>
    <div class="text-center py-3">
      <p>{{ "ALERT_DELETE_ENTRY" | translate }}</p>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="text-center">
    <button type="button" class="btn btn-light" (click)="onClickClose()">
      {{ "CLOSE" | translate }}
    </button>
    <button type="submit" class="btn btn-danger ms-3" (click)="onClickSubmit()">
      {{ "DELETE" | translate }}
    </button>
  </div>
</div>
