<app-page-layout>
  <div class="container my-3">
    <app-progress-bar *ngIf="storeService.isLoading()" />

    <ng-container *ngIf="!storeService.isLoading()">
      <div class="text-center">
        <h1>Idiomas</h1>
        <hr />
      </div>

      <div id="filters-form">
        <div class="row mb-3">
          <div class="col">
            <label for="txtNombre" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="txtNombre"
              [(ngModel)]="where.nombre"
            />
          </div>

          <div class="col">
            <label for="ddlEstado" class="form-label">Estado</label>
            <select
              name="estado"
              id="ddlEstado"
              class="form-select"
              aria-label="Listado de Estados"
              [(ngModel)]="where.estado"
            >
              <option value="" selected>Todos</option>
              <option value="A">Activo</option>
              <option value="I">Inactivo</option>
            </select>
          </div>
        </div>

        <button class="btn btn-secondary" (click)="onBuscar()">
          <i class="fa-solid fa-magnifying-glass"></i> Buscar
        </button>

        <button class="btn btn-success mx-3" (click)="onCrear()">
          <i class="fa-solid fa-plus"></i>
          Crear Nuevo
        </button>
      </div>

      <div class="table-responsive mt-3" *ngIf="idiomas.length > 0">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Descripción</th>
              <th>Estado</th>
              <th>Fecha de creación</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let idioma of idiomas">
              <td>{{ idioma.idsec }}</td>
              <td>{{ idioma.nombre }}</td>
              <td>
                {{ idioma.estado === "A" ? "Activo" : "Inactivo" }}
              </td>
              <td>{{ idioma.createdAt | date : "short" }}</td>
              <td>
                <button
                  class="btn btn-sm btn-primary"
                  (click)="onEdit(idioma.idsec)"
                >
                  <i class="fa-solid fa-pen-to-square"></i>
                  Editar
                </button>
                <button
                  class="btn btn-sm btn-danger mx-2"
                  (click)="onDelete(idioma.idsec)"
                >
                  <i class="fa-solid fa-trash"></i>
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="idiomas.length === 0" class="alert alert-info mt-3">
        No se encontraron idiomas.
      </div>
    </ng-container>
  </div>
</app-page-layout>
