<app-page-layout>
  <div class="container my-3">
    <app-progress-bar *ngIf="storeService.isLoading()" />

    <ng-container *ngIf="!storeService.isLoading()">
      <h1 class="text-center">Formulario de Postulación</h1>
      <hr />

      <!-- Formulario de Postulación -->
      <form (ngSubmit)="onSubmit()" class="mt-4">
        <div class="row mb-3">
          <!-- Campo Cédula -->
          <div class="col">
            <label for="cedula" class="form-label">Cédula</label>
            <input
              type="text"
              class="form-control required-input"
              id="cedula"
              title="Ingrese solo los números"
              required
              [(ngModel)]="candidato.cedula"
              (keydown)="onCedulaKeyDown($event)"
              name="cedula"
              placeholder="000-0000000-0"
              [disabled]="EsModoVer"
            />
          </div>

          <!-- Campo Nombre -->
          <div class="col">
            <label for="nombre" class="form-label">Nombre Completo</label>
            <input
              type="text"
              class="form-control required-input"
              id="nombre"
              required
              [(ngModel)]="candidato.nombre"
              name="nombre"
              placeholder="Ingrese su nombre completo"
              [disabled]="EsModoVer"
            />
          </div>
        </div>

        <div class="row mb-3">
          <!-- Campo Puesto-->
          <div class="col">
            <label for="lkPuesto" class="form-label">Puesto</label>
            <ng-autocomplete
              #puestoAutoComplete
              [data]="puestoList"
              [initialValue]="puesto.nombre"
              searchKeyword="nombre"
              name="puesto"
              placeholder="Selecciona un Puesto"
              (selected)="selectPuestoEvent($event)"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
              [disabled]="PuestoIdSec !== 0 || IdSec > 0 || EsModoVer"
            ></ng-autocomplete>
            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.nombre"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>

        <div class="row mb-3">
          <!-- Campo Departamento -->
          <div class="col">
            <label for="departamento" class="form-label">Departamento</label>
            <input
              type="text"
              class="form-control"
              id="departamento"
              required
              [(ngModel)]="candidato.departamento"
              name="departamento"
              placeholder="Ingrese el departamento"
              [disabled]="EsModoVer"
            />
          </div>

          <!-- Campo Salario Aspirado -->
          <div class="col">
            <label for="salarioAspira" class="form-label">
              Salario Aspirado
            </label>
            <input
              type="number"
              class="form-control"
              id="salarioAspira"
              required
              [(ngModel)]="candidato.salarioAspira"
              name="salarioAspira"
              placeholder="Ingrese el salario aspirado"
              [title]="getPlaceholderSalario()"
              [disabled]="EsModoVer"
            />
          </div>
        </div>

        <!-- row de los multiselect -->
        <div class="row mb-3">
          <!-- competencias -->
          <div class="col">
            <label for="mlkCompetencia" class="form-label">Competencias</label>
            <ng-multiselect-dropdown
              id="mlkCompetencia"
              class="multilookup-custom"
              placeholder="Selecciona múltiples..."
              searchPlaceholderText="Buscar..."
              [settings]="dropdownSettings"
              [data]="competencias"
              [(ngModel)]="candidato._competenciaList"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="EsModoVer"
            >
            </ng-multiselect-dropdown>
          </div>

          <!-- capacitaciones -->
          <div class="col">
            <label for="mlkCapacitacion" class="form-label">
              Capacitaciones
            </label>
            <ng-multiselect-dropdown
              id="mlkCapacitacion"
              class="multilookup-custom"
              placeholder="Selecciona múltiples..."
              searchPlaceholderText="Buscar..."
              [settings]="dropdownSettings"
              [data]="capacitaciones"
              [(ngModel)]="candidato._capacitacionList"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="EsModoVer"
            >
            </ng-multiselect-dropdown>
          </div>

          <!-- experiencias -->
          <div class="col">
            <label for="mlkExperiencia" class="form-label">
              Experiencias Laborales
            </label>
            <ng-multiselect-dropdown
              id="mlkExperiencia"
              class="multilookup-custom"
              placeholder="Selecciona múltiples..."
              searchPlaceholderText="Buscar..."
              [settings]="dropdownSettings"
              [data]="experiencias"
              [(ngModel)]="candidato._experienciaList"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="EsModoVer"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>

        <div class="row mb-3">
          <!-- Campo Recomendado Por -->
          <div class="col">
            <label for="recomendadoPor" class="form-label">
              Recomendado Por
            </label>
            <input
              type="text"
              class="form-control"
              id="recomendadoPor"
              [(ngModel)]="candidato.recomendadoPor"
              name="recomendadoPor"
              placeholder="Recomendado por (Opcional)"
              [disabled]="EsModoVer"
            />
          </div>

          <div class="col">
            <label for="ddlEstado" class="form-label">Estado</label>
            <select
              id="ddlEstado"
              name="estado"
              class="form-select"
              [(ngModel)]="candidato.estado"
              [disabled]="true"
            >
              <option value="" disabled>Seleccione el estado</option>
              <option *ngFor="let estado of EstadosList" [value]="estado.value">
                {{ estado.label }}
              </option>
            </select>
          </div>
        </div>

        <!-- Botones -->
        <div class="row mt-4" *ngIf="!EsModoVer; else botonesRecursosHumanos">
          <div class="col" *ngIf="IdSec > 0">
            <button
              type="button"
              class="btn btn-warning w-100"
              (click)="onCancelar()"
            >
              <i class="fa-solid fa-xmark"></i>
              Cancelar
            </button>
          </div>

          <div class="col">
            <button type="submit" class="btn btn-success w-100">
              <i class="fa-solid fa-floppy-disk"></i>
              Enviar
            </button>
          </div>
        </div>
        <ng-template #botonesRecursosHumanos>
          <div class="row mt-4">
            <div class="col">
              <button
                type="button"
                class="btn btn-danger w-100"
                (click)="onRevisionAccion(false)"
              >
                <i class="fa-solid fa-user-xmark"></i>
                Rechazar
              </button>
            </div>

            <div class="col">
              <button
                type="button"
                class="btn btn-primary w-100"
                (click)="onRevisionAccion(false)"
              >
                <i class="fa-solid fa-user-check"></i>
                Contratar
              </button>
            </div>
          </div>
        </ng-template>
      </form>
    </ng-container>
  </div>
</app-page-layout>
